$gray: #dae4ed;
$blue : #94c6ea;

.container-evolution{
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: normal;
    background-color: $gray;
    padding: 10px;
    button{
        // background-color: $blue;
        border: 2px solid $blue;

    }
    h2, button{
        margin: auto 0px auto 0px;
    }
    
    h3{
        text-align: center;
        width: 100%;
    }
    h2{
        font-size: 50px;
    }
    div{
        display: flex;
        max-width: 250px;
        flex-wrap: wrap;
        gap:5px
       
    }
    img{
        width: 100px;
    }
    

}
