$gray: #dae4ed;


header{
   
h1{
   font-size: 25px;
   width: unset;
   text-align: center;
}


button{
    border-radius: 30px;

    width: 120px;
    height: 120px;
     display: flex;
     flex-wrap: wrap;
     background-color: $gray;
     justify-content: center;
     align-items: center;
     h3{
        text-align: center;
     }
     div{
        display: flex;
        background-position: -10px -10px;
        height: 80px;
        margin: 0;
        width: 80px;
     }
}

}
@media (max-width: 400px) {
   header{

   
  
   button{
      width: 100px;
      height: 95px;
      h3{
         font-size: 10px;
         width: 100%;
      }
      div{
         background-position: -20px -15px;
         width: 60px;
         height: 60px;
      }
   }
}
   
   }
 
   @media (max-width: 450px) {
     
      header{
         h1{
            font-size: 20px;
         }
         button{
            h3{
               display: none;
            }
         }
      }
     
   }

