@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
$blue: #94c6ea;
$gray: #dae4ed;
section, header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

button{
    all:unset;
    cursor: pointer;
}
button, img, .container-description{
    border-radius: 30px;

}


h1, h2, h3, span, button, legend{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
h1{
    font-size: 16px;
    // text-align: center;
    width: 100%;

}

h2, h3{
    font-size: 16px;
    // width: max-content
}

h3{
    
    font-weight: 300;
}

h4{
    margin: auto 0 auto 0;
    font-size: 50px;
    color: $gray;
}

input {
    position: fixed;
    top: 15px;
    left: 0;
    z-index: 999;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
  }
  
.container-stats, .container-evolution{
    flex-wrap: wrap;
}
 

  .btn-next{
    background: $blue;
width: 180px;
height: 40px;
border-radius: 20px;
margin-top: 15px;
text-align: center;
margin-bottom: 25px;
  }



