$blue: #94c6ea;

.close{
    font-weight: 500;
position: absolute;
top: -2px;
right: 4px;
cursor: pointer;
font-size: 30px;
}

.container-popup{
    min-width: 350px;
    max-width: 760px;
position: fixed;
left: 0;
z-index: 999;
right: 0;
background-color: $blue;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 10px;
padding: 25px;
margin: auto;
top: 5px;
// bottom: 20px;
overflow-y: auto;
overflow-x: hidden;
width: 90%;
}

  @media (max-width: 400px)  {
    .container-popup{
      padding: 10px;
      
    }
   
    }
  