$gray: #dae4ed;
$blue: #94c6ea;
.container-stats{
    display: flex;
flex-wrap: wrap;
width: 100%;
padding: 10px;
background-color: $gray;
justify-content: space-between;

.stat{
    width: 30%;
display: block;
// flex-wrap: wrap;
div{
    height: 20px;
    display: flex;
    div{
        background-color: $blue;
        border-radius: 30px;
    }
}
}
h1{
    width: 100%;
}
}

