$gray: #dae4ed;
$blue: #94c6ea;
.container-stats{
 
padding: 10px;
background-color: $gray;

.stat{
    width: 30%;
display: block;
// flex-wrap: wrap;
div{
    height: 20px;
    display: flex;
    div{
        background-color: $blue;
        border-radius: 30px;
    }
}
}

}

@media (max-width: 620px) and (min-width: 451px) {
  .stat{
    width: 50% !important;
  }
  
  }

  @media (max-width: 450px)  {
    .stat{
      width: 100% !important;
    }
    
    }